alacritty
alsa-utils
awesome
dunst
feh
ffmpeg
firefox
flameshot
gnome-calculator
htop
i3-gaps
i3blocks
i3status
neofetch
network-manager-applet
networkmanager
nitrogen
nm-connection-editor
otf-overpass
pamixer
pamtester
parcellite
pavucontrol
picom-tryone-git
polybar
powerline-fonts-git
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
pulseaudio-jack
qtile
ranger
rofi
rofi-calc
rofi-dmenu
sl
ttf-liberation
ttf-roboto
ttf-roboto-mono
ueberzug
unarchiver
vim
w3m
xdg-utils
xinit-xsession
xorg-xkill
xorg-xmodmap
xorg-xrandr
xorg-xrdb
xsecurelock
xss-lock
yay
zathura
