alacritty
alsa-utils
arc-icon-theme
awesome
candy-icons-git
cowsay
feh
ffmpeg
firefox
flameshot
fzf
gnome-calculator
gvfs
gvfs-smb
gvfs-mtp
gvfs-nfs
htop
kvantum-qt5
kvantum-theme-sweet-git
lain-git
light
lxappearance-gtk3
lxinput-gtk3
lxrandr-gtk3
lxsession-gtk3
mpv
neofetch
neovim
neovim-symlinks
networkmanager
networkmanager-dmenu-git
nm-connection-editor
nodejs
npm
otf-overpass
pamixer
pamtester
parcellite
paru
pavucontrol
pcmanfm-gtk3
picom-tryone-git
playerctl
polybar
powerline-fonts-git
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
pulseaudio-jack
qt5ct
qtile
ranger
rofi
rofi-calc
rofi-dmenu
sweet-theme-git
ttf-liberation
ttf-nerd-fonts-symbols
ttf-roboto
ttf-roboto-mono
tty-clock
ueberzug
unarchiver
w3m
xcursor-sweet
xdg-utils
xinit-xsession
xorg-xkill
xorg-xmodmap
xorg-xrandr
xorg-xrdb
xsecurelock
xss-lock
zsh
