alacritty
alsa-utils
arc-icon-theme
awesome
brightnessctl
btmenu
candy-icons-git
cowsay
feh
ffmpeg
firefox
flameshot
fzf
gnome-calculator
go
gpaste
gvfs
gvfs-smb
gvfs-mtp
gvfs-nfs
htop
kvantum-qt5
kvantum-theme-sweet-git
lain-git
light
lightdm
light-locker
lxappearance-gtk3
lxrandr-gtk3
lxsession-gtk3
mpv
neofetch
neovim
neovim-symlinks
networkmanager
networkmanager-dmenu-git
nm-connection-editor
nodejs
noto-fonts
noto-fonts-emoji
npm
numlockx
otf-overpass
pamixer
pamtester
parcellite
paru
pavucontrol
pcmanfm-gtk3
picom-ibhagwan-git
playerctl
powerline-fonts-git
pulseaudio
pulseaudio-alsa
pulseaudio-bluetooth
pulseaudio-jack
qt5ct
ranger
rofi
rofi-calc
rofi-dmenu
sweet-gtk-theme-dark
ttf-dejavu
ttf-liberation
ttf-nerd-fonts-symbols
ttf-roboto
ttf-roboto-mono
tty-clock-git
ueberzug
unarchiver
w3m
xdg-utils
xinit-xsession
xlayoutdisplay
xorg-xkill
xorg-xmodmap
xorg-xrandr
xorg-xrdb
xsecurelock
xss-lock
zsh
